body {
  font-family: "Ubuntu", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  background-color: #272522;
  color: #ffffff;
}

/* color: #61dafb; */

.App {
  display: flex;
  height: 100vh; /*this may not work for android and ios*/
}

.App-content {
  display: flex;
  flex-direction: column;
  /*dont add height because of footer*/
  width: 100%;
}

.Content {
  flex: 1 0 auto;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 5px;
}

.sidebar {
  min-width: 250px;
}

.sidebar.hidden {
  margin-left: -250px;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.hidden {
    margin-left: 0;
  }
}