body {
  background-color: #282c34;
}

.Maze {
	text-align: center;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
}

/* color: #61dafb; */